.item {
    padding: 8px 4px;
    border-bottom: 2px solid rgb(237,237,237) ;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.title {
    width: 80%;
    height: fit-content;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.checkbox {
    appearance: none;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 50%;
}

.checkboxChecked {
    background: url('./tick.svg') no-repeat center center;
    background-size: cover;
}

.label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: start;
    cursor: pointer;   
}

.labelChecked {
    text-decoration: line-through;
    opacity: .7;
}

.label:hover {
    border-radius: 3px;
    background-color: rgb(252, 245, 241);
}
