.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.status {
    display: block;
    min-width: 100px;
}