.control {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(150,150,150);
}

.status {
    display: block;
    min-width: 100px;
}